body{
    background-color: cadetblue;
}


#numberForm {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: 'Open Sans', monospace;
    text-align: center;
    margin-top: 10px; 
}

#numberForm p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px; 
    color: #fff;
}

#numberForm label {
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}

#numberForm input[type="number"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

#numberForm button {
    padding: 10px 20px;
    background-color: #136a79;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-color: #136a79;
    margin-left: 10px;
}

#numberForm button:hover {
    background-color: #15353a;
    border-color: #15353a;
}

.game-card {
    margin-top: 160px;
}
